// Globally Available Formatting Classes
//
// Styleguide 6.

// Alignment
//
// Compatibility untested.
//
// Styleguide 6.1
.left {
	float: left;
	margin-right: $col-gutter;
}

.right {
	float: right;
	margin-left: $col-gutter;
}
