// CSS Resets
//
// Styleguide 4.

// Page Defaults
//
// Compatibility untested.
//
// Styleguide 4.1
body {
	margin: 0 $page-margin;
	color: $color-text;
	background-color: $color-bg;
}

// Margins
//
// Compatibility untested.
//
// Styleguide 4.2.
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

// Monospace Elements
//
// Compatibility untested.
//
// Styleguide 4.3.
pre,
code,
kbd,
samp,
tt {
	font-family: monospace, monospace;
	font-size: .9em;
}

// Images
//
// Compatibility untested.
//
// Styleguide 4.4.
img {
	border-width: 0;
}
