/* ================================
 * Variables
 * ================================ */
/* -- Dimensions -- */
$page-max-width: 960px;
$page-margin: 20px;
$col-count: 16;
$col-gutter: 2%;

/* -- Break points -- */
$large-canvas: 960px;
$medium-canvas: 800px;
$small-canvas: 640px;
$tiny-canvas: 480px;

/* -- Colors -- */
$white: #fff;
$black: #000;

/* ================================
 * Modules
 * ================================ */
@import "../modules/all";